#profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  color: white;
}

#profile-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 80vw;
}

#profile-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80vw;
  > div {
    > span {
      position: relative;
      bottom: 2px;
      right: 5px;
    }
    > i {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

#profile-img {
  height: 30vh;
  width: 30vh;
  margin-bottom: 1rem;
  border-radius: 50%; // this make circle
  overflow: hidden; //hiding image overflow
  object-position: center;  // you can custom the position
  > img {
    height: 100%;
    width: 100%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #profile-left {
    justify-content: center;
    width: 40vw;
  }
  
  #profile-right {
    justify-content: center;
    align-items: start;
    width: 40vw;
    font-size: 1.2rem;
    > div {
      > i {
        font-size: 1rem;
      }
    }
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #profile-left {
    justify-content: center;
    width: 30vw;
  }
  
  #profile-right {
    justify-content: center;
    align-items: start;
    width: 30vw;
    font-size: 1.2rem;
    > div {
      > i {
        font-size: 1rem;
      }
    }
  }
}