#projects {
  padding: 5rem 0;
}

#projects-header {
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-align: center;
  > h1 {
    font-weight: 400;
    span {
      position: relative;
      bottom: 2px;
      right: 5px;
    }
  }
  > p {
    font-weight: 300;
    font-style: italic;
  }
}

#projects-filter {
  margin-bottom: 1rem;
  text-align: center;
  > button {
    margin: 0 0.3rem;
    padding: 0;
    outline-offset: 4px;
    border: none;
    border-radius: 0.8rem;
    background-color: gray;
    > span {
      display: block;
      transform: translateY(-6px);
      padding: 0.3rem 0.7rem;
      border: 1px solid gray;
      border-radius: 0.8rem;
      background-color: mintcream;
      color: black;
      font-weight: 300;
      &:hover {
        font-weight: 400;
      }
    }
    &:active > span {
      transform: translateY(-2px);
    }
  }
}

#projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding: 1rem;
    text-align: center;
    > button, > span, > div {
      margin-bottom: 0.5rem;
    }
  }
}

.projects-list-image {
  width: 100%;
  padding: 0;
  border: none;
  > img {
    height: 100%;
    width: 100%;
    &:hover {
      border: 1px solid gray;
    }
  }
}

.projects-list-name {
  border: none;
  background: none;
  font-size: 1.2rem;
  &:hover {
    font-weight: bold;
  }
}

.projects-list-about {
  font-weight: 300;
}

#projects-pagination {
  display: flex;
  justify-content: center;
  > button {
    padding: 0;
    outline-offset: 4px;
    border: none;
    border-radius: 0.8rem;
    background-color: gray;
    > span {
      display: block;
      transform: translateY(-6px);
      padding: 0.3rem 0.7rem;
      border: 1px solid gray;
      border-radius: 0.8rem;
      background-color: mintcream;
      color: black;
      font-weight: 300;
      &:hover {
        font-weight: 400;
      }
    }
    &:active > span {
      transform: translateY(-2px);
    }
  }
  > div {
    padding: 0;
    outline-offset: 4px;
    border: none;
    border-radius: 0.8rem;
    background-color: gray;
    > span {
      display: block;
      transform: translateY(-6px);
      padding: 0.3rem 0.7rem;
      border: 1px solid gray;
      border-radius: 0.8rem;
      background-color: mintcream;
      color: black;
      font-weight: 300;
    }
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #projects-list {
    > li {
      width: 40vw;
    }
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #projects-list {
    > li {
      width: 30vw;
    }
  }
}