#app {
  min-height: 100vh;
}

#app-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url("/keyboard-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#app-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  > .app-segment {
    min-height: 100vh;
  }
  > .app-segment:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
  }
  > .app-segment:nth-child(even) {
    color: white;
  }
}